<h1>MON BLOG DE VOYAGE</h1>
<%= link_to "Nouvel Article", new_post_path %>
<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p>Lieu : <%= post.location %></p>
    <p>Publié le : <%= post.published_at.strftime("%d/%m/%Y") %></p>
    <p><%= truncate(post.content, length:150) %></p>
  </div>
  <hr>
<% end %>
